[Unit]
Description=Description=IKEA Tradfri COAP-adapter
After=multi-user.target

[Service]
Type=idle
Environment=IKEA_HOME=/opt/domoticz/plugins/IKEA-Tradfri
ExecStart=/usr/bin/python3 ${IKEA_HOME}/tradfri_coap.py
User=user
Group=user

[Install]
WantedBy=multi-user.target
